:root {
    --unread-message-background: #f1eadf;
    --message-body-border-color: #ddd;
    --priorityone-color:#4FFFB0;
    --prioritytwo-color:#F0E68C;
    --prioritythree-color:#fd5c63;
}

tr.message {
    cursor: pointer;
    transition: filter .3s;
    background-color: inherit;
}
tr.message {
    cursor: pointer;
    transition: filter .3s;
    background-color: inherit;
}
tr.message.unread {
    font-weight: 500;
    background-color: var(--unread-message-background);
}

tr.message.prio1 {
    font-weight: 500;
    background-color: var(--priorityone-color);
}
tr.message.prio2 {
    font-weight: 500;
    background-color: var(--prioritytwo-color);
}
tr.message.prio3 {
    font-weight: 500;
    background-color: var(--prioritythree-color);
}

tr.message:hover {
    filter: brightness(0.85);
}

.message-body {
    border: 1px solid var(--message-body-border-color);
    border-radius: 1rem;
    padding: 2rem;
}

.message-body {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.message-actions {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -1rem;
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-end;
}

.message-action {
    display: inline;
}

.message-action span {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    line-height: 30px;
    bottom: 40px;
    border-radius: 5px;
    padding: 0 5px;
}

.message-action span:after{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0.6);
    border-width: 6px;
    margin-left: -6px;
}

.message-action:hover span {
    opacity: 1;
    pointer-events: inherit;
}

.sender-time-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: .5rem;
    /* justify-content: space-between; */
}

@media only screen and (min-width: 1024px) {
    main.message > * {
        width: 50rem;
    }   
}

@media only screen and (max-width: 700px) {
    .sender-time-line {
        flex-direction: column;
        gap: .5rem;
        /* align-items: left; */
        width: 100%;
    }
}

main.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

p.no-messages {
    text-align: center;
    padding: 2rem;
}